<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  <p>
      Splurty was built by <a target="_blank" href="http://github.com/hobbsmad">Madelyn</a> A web developers that is on a mission to give people the technical skills needed to launch their own MVPs and turn ideas into reality.
    </p>
    <br />
    <p>
      A new student who is learning how to build web pages.
    </p>
    <p>
      If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
    </p>
    <div class="row">
        <div class="col-12 col-sm-4">
          <%= image_tag 'me.jpg', class: 'img-fluid' %>
        </div>

        <div class="col-12 col-sm-7 offset-sm-1">
          <h2 class="text-center">Madelyn Hobbs</h2>
          <br />
          <p>
          Madelyn is a new programmer who is learning how to code and grows little by little each day.
          </p>
        </div>
      </div>
      <br class="clear" />
</div>

<br class="clear" />
<br />
<br />
<br />
<br />
